@import "./var";

.blog {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: @background-color;
  min-height: 100vh;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 16px;
  background-color: #ddd;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: @background-color;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}

.btn-default {
  border: @border-default;
  background: @background-color;
  &:hover {
    border: @border-active;
    background: @theme-color;
  }
}

.white-space {
  height: 30px;
  width: 100%;
  background: transparent;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.navbar-toggle.collapsed {
  border: none
}

.navbar.navbar-default {
  z-index: 999;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: #f8f8f8;
  border: none;
}

.navbar-collapse {
  border: none
}
