@color-active: #3d444a;
@color-default: #a2afbb;
@background-color: #f8f8f8;
@border-bottom: 1px solid @color-active;
@border-default: 1px solid @background-color;
@border-active: 1px solid #000;
@detail-border-bottom: 1px solid #e9edf0;
@MP30PX: 30px;
@theme-color: #ffdd4d;
@banner-background: #fcdb34;
@max-width: 1333px;
@background-color-default: #fff;
@page-change-default: #dfe5eb;
@page-change-active: #a2afbb;
